<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
		<title>List Recipes</title>
<style>
  body {
    background-image: url('./images/recipe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
</style>

	</head>
	
	<body>
 <div id="homebutton">
    <a href="http://localhost:8080" style="color: black">Home</a><br>
    <a href="recipes" style="color: black">Add a recipe</a>    
</div>		
		<div class="container">
		
			<h3>List Recipes</h3>
			
		
			
			<br/><br/>
			<table class="table table-bordered table-striped">
			
				<thead>
					<tr>
						<th>Recipe Name</th>
						<th>Recipe Description</th>
						<th>Cuisine Type</th>
						<th>Preparation Time</th>
						<th>Cooking Time</th>
						<th>Total Time</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="recipe: ${recipes}">
						<td th:text="${recipe.recipeName}" />
						<td th:text="${recipe.recipeDescription}" />
						<td th:text="${recipe.cuisineType}" />
						<td th:text="${recipe.preparationTime}" />
						<td th:text="${recipe.cookingTime}" />
						<td th:text="${recipe.totalTime}" />
						<td>
						 	<a th:href="@{/showUpdateForm(recipeId=${recipe.recipeId})}" class="btn btn-info">Update</a>
						 	<a th:href="@{/deleteRecipe/{recipeId}(recipeId=${recipe.recipeId})}" class="btn btn-danger">Delete</a>  
						</td>
					</tr>
				</tbody>
				
			</table>
		</div>
		
		
	</body>
	
</html>